<launch>
  <node pkg="object_recognition_core" type="detection" name="table_finder" args="-c $(find object_recognition_tabletop)/conf/config_detection.tabletop_table" output="screen">
    <remap to="/camera/rgb/camera_info" from="/head_mount_kinect/rgb/camera_info"/>
    <remap to="/camera/rgb/image_color" from="/head_mount_kinect/rgb/image_color"/>
    <remap to="/camera/depth_registered/camera_info" from="/head_mount_kinect/depth_registered/camera_info"/>
    <remap to="/camera/depth_registered/image" from="/head_mount_kinect/depth_registered/image"/>
  </node>
</launch>
