<launch>
  <node pkg="object_recognition_core" type="detection" name="table_finder" args="-c $(find object_recognition_tabletop)/conf/config_detection.tabletop_table" output="screen">
    <remap from="camera_rgb_camera_info" to="/head_mount_kinect/rgb/camera_info"/>
    <remap from="camera_rgb_image_rect_color" to="/head_mount_kinect/rgb/image_rect_color"/>
    <remap from="camera_depth_registered_camera_info" to="/head_mount_kinect/depth_registered/camera_info"/>
    <remap from="camera_depth_registered_image_rect" to="/head_mount_kinect/depth_registered/image_rect"/>
  </node>
</launch>
